@import './base.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.1s;
  padding: 3px;
}
