@import './base.css';
@import 'primeicons/primeicons.css';
@import "tailwindcss";
@import "tailwindcss-primeui";
@import './transitions.css';

:root {
  --p-head-color: #5B5049;
  --p-background-color: #f8eee5;
  --p-accent-color: #bd874d;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 0.5rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.1s;
  padding: 3px;
}

body {
  overflow-y: hidden;
}





