@import './base.css';
@import 'primeicons/primeicons.css';
@import "tailwindcss";
@import "tailwindcss-primeui";
@import './transitions.css';

:root {
  --p-head-color: #5b5049;
  --p-background-color: #f8eee5;
  --p-accent-color: #bd874d;
}

#app {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 0.5rem;
  font-weight: normal;
  background-color: var(--p-background-color);

  box-shadow:
    0 10px 25px rgba(91, 80, 73, 0.041),
    0 3px 8px rgba(91, 80, 73, 0.048);
}



a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.1s;
  padding: 3px;
}

body {
  overflow-y: hidden;
}





